.header {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
}

.widthToolbar {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: end;
}

.highlightsToolbar {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: end;
}