.row {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 8px;
}

.rowPercent {
    background-color: rgba(31, 159, 159, 0.08);
    box-shadow: 0px 8px 16px rgba(31, 159, 159, 0.08), 8px 0px 16px rgba(31, 159, 159, 0.08);
}

.removeButton {
    height: 50px;
    width: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(255, 85, 0);
    font-weight: 700;
}

.removeButton:hover {
    transition: 0.2s ease;
    transform: scale(1.4);
    color: rgb(255, 38, 0);
}

.removeButton:active {
    transition: 0.1s ease;
    transform: scale(0.6);
    color: rgb(255, 93, 65);
}