.row {
    display: flex;
    gap: 10px;
}

.removeButton {
    height: 50px;
    width: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(255, 85, 0);
    font-weight: 700;
}

.removeButton:hover {
    transition: 0.2s ease;
    transform: scale(1.4);
    color: rgb(255, 38, 0);
}

.removeButton:active {
    transition: 0.1s ease;
    transform: scale(0.6);
    color: rgb(255, 93, 65);
}